.cardLatest{
    display: flex;
    margin: 40px 93px;
    padding-left: 53px;
    box-sizing: border-box;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    background: #FFFFFF;
}

.contentCardLatest{
    margin: 40px 0px;
}

.longEstablished{
    margin-top: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2D3748;
}
.itIsALongEstablishedFact{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
}

.date, .readMore{
    font-size: 12px;
    line-height: 15px;
}

.date{
    font-weight: 400;
    color: #718096;
}
.readMore{
    font-weight: 700;
    color: #2D3748;
    border: none;
    background-color: white;   
}
.dateReadMore{
    display: flex;
    justify-content: space-between; 
}

.ManWithNotebook{
    margin-left: 77px;
}
