.body {
  max-width: 1280px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.header,
.navigation {
  display: flex;
}

.header {
  padding: 36px 93px 27px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hotCoffee {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation {
  align-items: center;
}

.search {
  color: #718096;
  padding-left: 12px;
  padding-right: 186px;
}

.home,
.articles,
.search {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.twit {
  padding: 0px 35px 0px 35px;
}

.home {
  padding-right: 30px;
}

.ref {
  text-decoration: none;
}

.clickable:hover {
  cursor: pointer;
}
