.body{
  max-width: 1280px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.header, .navigation{
  display: flex;
  flex-direction: row;  
}

.header {
  padding: 36px 93px 27px;
  justify-content: space-between;
}

.hotCoffee {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation {
  align-items: center;
}

.search {
  color: #718096;
  padding-left: 12px;
}

.home, .articles, .search {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.imgSocial {
  flex-direction: row;
  justify-content: space-between;
}





.twit {
  padding: 0px 35px 0px 35px;
}


