.section_1{
    margin: 39px 93px 43px 93px;
    padding: 0;
    max-width: 1280px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    background: #FFFFFF;
    justify-content: space-between;
    
}
.leftColumn{
    flex-direction: column;
    
    
}
.text_1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2D3748;
    padding-top: 41px;
    padding-left: 54px;
    padding-bottom: 27px;
    margin: 0;
}
.text_2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
    padding-bottom: 30px;
    padding-left: 54px;
    margin: 0;
}
.text_3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
}
.button_read{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
    border: none;
    background-color: white;
    
}
.line{
    display: flex;
    justify-content: space-between;
    padding-left: 54px;
    margin: 0;
}

