.container {
  margin: 0 93px;
  display: grid;
  gap: 33px;
  grid-template-columns: repeat(3, 1fr);
}

.longEstablished_2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3748;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #718096;
}

.box-1,
.box-2,
.box-3 {
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.contentBox {
  margin: 18px 25px 25px 18px;
}

.image-box {
  width: 100%;
}

.clickable:hover {
  cursor: pointer;
}
