.container {
    display: grid;
    gap:33px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 93px;
    margin-right:93px ;
    place-content:;
}
.text_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3748;
    margin-top: 18px;
    margin-left: 16px;
    margin-bottom: 15px;
}
.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
    margin-left: 16px;
    margin-right: 25px;
}
.line_box{
    margin-left: 16px;
    margin-right: 25px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}
.box-1, .box-2, .box-3{
    box-sizing: border-box;
    border: 1px solid #E2E2E2;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}