.highlightSection {
  margin: 40px 93px;
  background: #f7fafc;
  display: flex;
  justify-content: space-between;
}

.contentHighlightSection {
  flex-direction: column;
  margin: 100px 65px 120px;
}

.whatIsLoremIpsum {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.readMore {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #2d3748;
  border: none;
  background-color: #f7fafc;
}

.clickable:hover {
  cursor: pointer;
}
