.ManWithNotebook {
  margin: 0 90px;
  width: -webkit-fill-available;
}

.textArticle {
  margin: 0 195px 60px;
}

.headline {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #2d3748;
}

.written {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3748;
}

.date {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #718096;
}

.line {
  border-top: 1px solid #e8e7e7;
  margin: 30px 0 35px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #718096;
}

.button {
  background-color: white;
  border: none;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
